/**
 * @name Alakawi Frost
 * @author Alakawi
 * @version 2.0
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

*{
    font-family:Inter,sans-serif !important;
}

body{
    background:
    linear-gradient(
        135deg,
        #101214,
        #17191d
    ) !important;
}

body::before{
    content:"Alakawi";
    position:fixed;
    right:50px;
    bottom:40px;
    font-size:32px;
    font-weight:600;
    color:rgba(255,255,255,.04);
    font-style:italic;
}

[class*="sidebar_"],
[class*="chat_"],
[class*="members_"],
[class*="container_"]{
    background:rgba(255,255,255,.04) !important;
    backdrop-filter:blur(10px);
}

[class*="message_"]:hover{
    background:rgba(255,255,255,.03) !important;
}

[class*="channel_"]:hover{
    background:rgba(255,255,255,.04) !important;
}
